<a href="https://colab.research.google.com/github/maedeamooshahi/datamining-1/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install apyori
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import apyori
from apyori import apriori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=6a50b5e10a711b8f6b893a77ef5f90f1811cfe1a90e95ee612d6575c99fc77d3
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
groceries = pd.read_csv('/content/groceries.csv', header=None)

In [3]:
groceries.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
!pip install apyori
import apyori
records = []
for i in range(0, 7501):
    records.append([str(groceries.values[i,j]) for j in range(0, 10)])

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [5]:
association_rules = apriori(records, min_support=0.005, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [6]:
print(len(association_results))

33

In [7]:
print(association_results[0])

RelationRecord(items=frozenset({'root vegetables', 'beef'}), support=0.01759765364618051, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'root vegetables'}), confidence=0.3464566929133858, lift=3.1348270850944595)])

In [8]:
association_rules = apriori(records, min_support=0.002, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [9]:
print(len(association_results))

304

In [10]:
print(association_results[0])

RelationRecord(items=frozenset({'hamburger meat', 'Instant food products'}), support=0.0022663644847353685, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Instant food products'}), items_add=frozenset({'hamburger meat'}), confidence=0.32075471698113206, lift=10.024921383647797)])